# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

 

# Security and Credentials
*.pem
*.key
*.cert
*.p12
*.pfx
id_rsa*
secrets.*
credentials.json
*.keystore

# Unnecessary / Temporary / Build Files
tmp/
temp/
*.bak
*.swp
*.tmp
node_modules/
build/
dist/
.dart_tool/

# Browser Profiles
.chrome_profile
.chrome_progile
